.inputContainer{
  background-image: url('../assets/cloud.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.buttonContainer{
  background-image: url('../assets/sun.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.button{
  margin-top: 1em;
  background: transparent;
}
