@import "src/style/theme/vars.scss";
@import url("https://fonts.googleapis.com/css?family=Bonbon");

.title{
  background-color: $brand-primary;
  border-bottom: 1em solid  $brand-tertiery;
  background-image: url('../assets/cloud.png');
}

.titleName{
  font-family: 'Bonbon', cursive;
}

.unicornimg{
  width: 10em;
}
