
.title{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
  background-repeat: no-repeat;
  background-position: center bottom 1em;
  background-size: contain;
}

.titleName{
  padding-top: 1vw;
  margin-bottom: 1em;
}
