.noteStyle{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  word-wrap: break-word;
  height: 600px;
  width: 600px;
}

section .noteText{
  margin-left: 8em;
  padding-top: 6em;
}

.update{

}
