@import "../theme/vars.scss";
@import url("https://fonts.googleapis.com/css?family=Bonbon");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

input{
  border: none;
  background: transparent;
  outline: none;

}

button{
  border: none;
}

h1{
  font-size: 3em;
  font-family: 'Bonbon', cursive;
}

h2{
  font-size: 2em;
  font-family: 'Bonbon', cursive;
}

p{
  font-family: 'Open Sans', sans-serif;
}

html, body{
  height: 100%;
  background-color: $brand-secodary;
}

main{
  height:auto;
}
