@import "../theme/vars.scss";

input{
  border: none;
  background: transparent;
  outline: none;

}

button{
  border: none;
}

h1{
  font-size: 3em;
}

html, body{
  height: 100%;
}

main{
  height:auto;
}

section{
  height:100%;
}
