.update-form {
  height: 15vh;
  width: 100%;
}

.update-form {
  input {
    float: left;
    margin-left: 5%;
    width: 25%;
    margin-right: 65%;
    height: 4vh;
    font-size: 3vh;
    margin-top: 1vh;
  }

  button {
    float: left;
    margin-left: 5%;
  }
}
